[Unit]
Description=Skeleton Mouth Servo Control
After=network.target pigpiod.service

[Service]
ExecStart=/usr/bin/python3 /boot/Pi_Eyes/mouth.py
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target