[Unit]
Description=Skeleton Mouth Servo Control
After=network.target pigpiod.service
Requires=pigpiod.service

[Service]
ExecStart=/usr/bin/python3 {{ pi_eyes_install_path }}/mouth.py \
  --min {{ pi_eyes_mouth_pwm_min }} \
  --max {{ pi_eyes_mouth_pwm_max }} \
  --pin {{ pi_eyes_mouth_pin }} \
  --port {{ pi_eyes_mouth_port }} \
  --idle {{ pi_eyes_mouth_idle_position }} \
  --idle-timeout {{ pi_eyes_mouth_idle_timeout }} \
  --idle-ease-duration {{ pi_eyes_mouth_idle_ease_duration }}
Restart=always
User={{ pi_eyes_user }}
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
